.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;   /* 🔴 IMPORTANT */
  width: 100%;
  overflow: hidden; /* prevent body scroll */
}

/* Area below topbar */
.dashboard-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}


/* Main content */

.dashboard-content {
  flex: 1;
  display: flex;           /* needed for Messaging page layout */
  flex-direction: column;
  overflow: auto;        /* prevents content from pushing input */
  min-height: 0;           /* critical for flex children scrolling */
}
